@media (min-width:768px )and (max-width:1024px){
       .fx-hero-section{
        height: 350px;
       }
      .fx-services-box{
        width: 700px;
      }
      .fx-services-box ul li a{
        height: 80px;
        width: 80px;
        font-size: 11px;
     }
      .fx-services-box ul li img{
        width: 30px;
      }
}

@media (max-width: 767.98px ){
      .fx-hero-section{
        height: 300px;
       }
        .fx-services-box{
        width: 100%;
      }   
      .fx-services-box ul{
       overflow: scroll;
        flex-wrap: nowrap;
        overflow-y: hidden;
      }
      .md-text-end p{
        text-align: left;
      }
}

